.itemDetails {
  width: 100%;
  flex: 15 1 0;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  place-content: center space-around;
  align-items: flex-start;
  margin: 5em 0;
  padding: 0 10em;
}

.item-box {
  display: flex;
  justify-content: space-around;
  width: 70%;
  font-size: inherit;
}

.item-box-img {
  width: 30%;
  height: 30%;
}

.item-box-img img {
  width: 100%;
  height: 100%;
}

.item-box-text-area {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 40%;
  height: 25em;
}

.item-box-text {
  font-size: 1.15vw;
}

.item-box-quantity {
  display: grid;
  grid-template-columns: 1fr repeat(3, 1fr);
  text-align: center;
  width: 30%;
  gap: 1em;
}

.item-box-quantity button {
  background-color: greenyellow;
  border: none;
}

.change-item-count button {
  border: none;
  cursor: pointer;
}

.add-to-cart {
  font: inherit;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  width: max-content;
  height: max-content;
  padding: 0.5em;
  color: #ffffff;
  font-size: 130%;
}